.custom-space {
    margin-right: 5px;
}

.eye-icon {
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    bottom: 0;
}

.help-icon {
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    bottom: 0;
    padding-right: 10px;
}

:host(app-reset-password) {
    width: 100%;
}