<ion-content class='ion-content'>
    <ion-grid>
        <ion-row class="main-row">
            <ion-col size="12" class="ps-card">
                <ion-row class="ion-margin-top">
                    <ion-col class="ion-text-center">
                        <ion-text color="primary">
                            <h3 class="ion-no-margin">
                                {{'acc_active' | translate}}
                            </h3>
                            <h3 class="ion-no-margin" *ngIf="false">
                                {{'reset_your_password' | translate}}
                            </h3>
                        </ion-text>
                    </ion-col>
                </ion-row>
                <form #f="ngForm" autocomplete="off">
                    <ion-row class="ion-margin-top">
                        <ion-text color="dark">
                            <h5>{{'reset_message' | translate}}</h5>
                        </ion-text>
                    </ion-row>
                    <ion-item>
                        <ion-label position="floating">{{'email' | translate}}
                            <ion-text color="danger">*</ion-text>
                        </ion-label>
                        <ion-input aria-label="UserName" name="UserName" [(ngModel)]="activate.UserName" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}$" #Email="ngModel" required (ionBlur)="processemail(activate.UserName)"></ion-input>
                    </ion-item>
                    <ion-text color="danger" class="error-message" *ngIf="!Email.valid && Email.touched">
                        <!-- <p class="error-text-message">{{'email_required' | translate}}.</p> -->
                        <p class="error-text-message" *ngIf="!activate.UserName && !Email.valid">{{'email_required' | translate}}.</p>
                        <p class="error-text-message" *ngIf="activate.UserName && !Email.valid">{{'invalid_email' | translate}}.</p>
                    </ion-text>
                    <ion-item>
                        <ion-label position="floating">{{'password' | translate}}
                            <ion-text color="danger">*</ion-text>
                        </ion-label>
                        <ion-input aria-label="Password" type="{{type}}" name="Password" [(ngModel)]="activate.Password" #ActivatePassword="ngModel" required validateEqual="ConfirmPassword" reverse="true" pattern="^(?!.*([A-Za-z0-9])\1{2})(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,128}$"></ion-input>
                        <ion-icon name="ios-help-circle-outline" class="help-icon" color="primary" fill="clear" slot="end" (click)="info()"></ion-icon>
                        <ion-icon *ngIf="!showPass" name="eye-off" slot="end" class="eye-icon" color="primary" (click)="showPassword()"></ion-icon>
                        <ion-icon *ngIf="showPass" name="eye" class="eye-icon" slot="end" color="primary" (click)="showPassword()"></ion-icon>

                    </ion-item>
                    <ion-text color="danger" class="error-message" *ngIf="!ActivatePassword.valid && ActivatePassword.touched">
                        <p class="error-text-message" *ngIf="!activate.Password && !ActivatePassword.valid">{{'password_error_message' | translate}}.</p>
                        <p class="error-text-message" *ngIf="activate.Password && ActivatePassword.hasError('pattern')">{{'password_invalid_message' | translate}}.</p>
                    </ion-text>
                    <ion-item>
                        <ion-label position="floating">{{'confirm_password' | translate}}
                            <ion-text color="danger">*</ion-text>
                        </ion-label>
                        <ion-input aria-label="ConfirmPassword" type="password" name="ConfirmPassword" [(ngModel)]="activate.ConfirmPassword" #Confirm="ngModel" validateEqual="Password" autocomplete="none" required pattern="^(?!.*([A-Za-z0-9])\1{2})(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,128}$"></ion-input>
                    </ion-item>
                    <ion-text color="danger" class="error-message" *ngIf="!Confirm.valid && Confirm.touched">
                        <p class="error-text-message">{{'confirm_password_req' | translate}}.</p>

                    </ion-text>
                    <ion-row class="ion-margin-top">
                        <ion-button expand="block" (click)="onResetPassword(f)" color="primary" class="full-width" [disabled]="!f.valid">{{'confirm' | translate}}</ion-button>
                    </ion-row>
                </form>
                <ion-row>
                    <ion-col size="4">
                        <ion-button expand="block" class="full-width custom-orange-btn" (click)="onReturn()">
                            <ion-icon slot="icon-only" style="transform: rotate(180deg)" name="log-in" class="custom-space"></ion-icon>
                        </ion-button>
                    </ion-col>
                    <ion-col size="8">
                        <ion-button expand="block" class="full-width" (click)="onClearAll(f)">{{'Clear' | translate}}</ion-button>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>