<?xml version='1.0' encoding='utf-8'?>
<widget id="com.i3v.edu.psc" version="24.01.08" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>PaySchools Central</name>
    <description>An awesome Ionic/Cordova app.</description>
    <author email="hi@ionicframework.com" href="http://ionicframework.com/">Ionic Framework Team</author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <allow-navigation href="*" />
    <allow-navigation href="http://localhost:8100" />
    <preference name="WKPort" value="8100" />
    <preference name="AutoHideSplashScreen" value="false" />
    <preference name="FadeSplashScreenDuration" value="1000" />
    <preference name="ShowSplashScreen" value="true" />
    <preference name="ShowSplashScreenSpinner" value="false" />
    <preference name="FadeSplashScreen" value="true" />
    <preference name="ScrollEnabled" value="false" />
    <preference name="BackupWebStorage" value="none" />
    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="SplashShowOnlyFirstTime" value="false" />
    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="3000" />
    <preference name="KeyboardResizeMode" value="ionic" />
    <preference name="KeyboardResize" value="true" />
    <preference name="HideKeyboardFormAccessoryBar" value="false" />
    <preference name="AndroidLaunchMode" value="singleTask" />
    <preference name="android-minSdkVersion" value="21" />
    <preference name="android-targetSdkVersion" value="33" />
    <platform name="android">
        <preference name="WKWebViewOnly" value="true" />
        <config-file parent="/*" target="AndroidManifest.xml">
            <uses-feature android:name="android.hardware.camera" />
            <uses-feature android:name="android.hardware.camera.autofocus" />
            <uses-permission android:name="android.permission.CAMERA" />
        </config-file>
        <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application" xmlns:android="http://schemas.android.com/apk/res/android">
            <application android:usesCleartextTraffic="true" />
            <application android:networkSecurityConfig="@xml/network_security_config" />
            <application android:debuggable="false" />
        </edit-config>
        <feature name="CardIO">
            <param name="android-package" value="io.card.payment.CardIOActivity" />
            <param name="onload" value="true" />
        </feature>
        <resource-file src="resources/android/xml/network_security_config.xml" target="app/src/main/res/xml/network_security_config.xml" />
        <allow-intent href="market:*" />
        <preference name="SplashScreen" value="screen" />
        <preference name="AndroidWindowSplashScreenAnimatedIcon" value="resources/splash.png" />
        <icon density="ldpi" src="resources/android/icon/drawable-ldpi-icon.png" />
        <icon density="mdpi" src="resources/android/icon/drawable-mdpi-icon.png" />
        <icon density="hdpi" src="resources/android/icon/drawable-hdpi-icon.png" />
        <icon density="xhdpi" src="resources/android/icon/drawable-xhdpi-icon.png" />
        <icon density="xxhdpi" src="resources/android/icon/drawable-xxhdpi-icon.png" />
        <icon density="xxxhdpi" src="resources/android/icon/drawable-xxxhdpi-icon.png" />
        <!-- <splash density="land-ldpi" src="resources/android/splash/drawable-land-ldpi-screen.png" /> -->
        <!-- <splash density="land-mdpi" src="resources/android/splash/drawable-land-mdpi-screen.png" /> -->
        <!-- <splash density="land-hdpi" src="resources/android/splash/drawable-land-hdpi-screen.png" /> -->
        <!-- <splash density="land-xhdpi" src="resources/android/splash/drawable-land-xhdpi-screen.png" /> -->
        <!-- <splash density="land-xxhdpi" src="resources/android/splash/drawable-land-xxhdpi-screen.png" /> -->
        <!-- <splash density="land-xxxhdpi" src="resources/android/splash/drawable-land-xxxhdpi-screen.png" /> -->
        <!-- <splash density="port-ldpi" src="resources/android/splash/drawable-port-ldpi-screen.png" /> -->
        <!-- <splash density="port-mdpi" src="resources/android/splash/drawable-port-mdpi-screen.png" /> -->
        <!-- <splash density="port-hdpi" src="resources/android/splash/drawable-port-hdpi-screen.png" /> -->
        <!-- <splash density="port-xhdpi" src="resources/android/splash/drawable-port-xhdpi-screen.png" /> -->
        <!-- <splash density="port-xxhdpi" src="resources/android/splash/drawable-port-xxhdpi-screen.png" /> -->
        <!-- <splash density="port-xxxhdpi" src="resources/android/splash/drawable-port-xxxhdpi-screen.png" /> -->
    </platform>
    <platform name="ios">
        <preference name="WKSuspendInBackground" value="false" />
        <config-file parent="NSFaceIDUsageDescription" target="*-Info.plist">
            <string>Please authenticate</string>
        </config-file>
        <feature name="TouchID">
            <param name="ios-package" value="TouchID" />
        </feature>
        <feature name="CDVWKWebViewEngine">
            <param name="ios-package" value="CDVWKWebViewEngine" />
        </feature>
        <preference name="CordovaWebViewEngine" value="CDVWKWebViewEngine" />
        <config-file parent="com.apple.developer.associated-domains" target="*-Debug.plist">
            <array>
                <string>applinks:dev.payschoolscentral.com</string>
            </array>
        </config-file>
        <config-file parent="com.apple.developer.associated-domains" target="*-Release.plist">
            <array>
                <string>applinks:dev.payschoolscentral.com</string>
            </array>
        </config-file>
        <config-file parent="NSCameraUsageDescription" target="*-Info.plist">
            <string>camera usage description</string>
        </config-file>
        <edit-config file="*-Info.plist" mode="merge" target="NSPhotoLibraryUsageDescription">
            <string>need photo library access to Download the Payment Receipt</string>
        </edit-config>
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <icon height="57" src="resources/ios/icon/icon.png" width="57" />
        <icon height="114" src="resources/ios/icon/icon@2x.png" width="114" />
        <icon height="29" src="resources/ios/icon/icon-small.png" width="29" />
        <icon height="58" src="resources/ios/icon/icon-small@2x.png" width="58" />
        <icon height="87" src="resources/ios/icon/icon-small@3x.png" width="87" />
        <icon height="20" src="resources/ios/icon/icon-20.png" width="20" />
        <icon height="40" src="resources/ios/icon/icon-20@2x.png" width="40" />
        <icon height="60" src="resources/ios/icon/icon-20@3x.png" width="60" />
        <icon height="48" src="resources/ios/icon/icon-24@2x.png" width="48" />
        <icon height="55" src="resources/ios/icon/icon-27.5@2x.png" width="55" />
        <icon height="29" src="resources/ios/icon/icon-29.png" width="29" />
        <icon height="58" src="resources/ios/icon/icon-29@2x.png" width="58" />
        <icon height="87" src="resources/ios/icon/icon-29@3x.png" width="87" />
        <icon height="40" src="resources/ios/icon/icon-40.png" width="40" />
        <icon height="80" src="resources/ios/icon/icon-40@2x.png" width="80" />
        <icon height="120" src="resources/ios/icon/icon-40@3x.png" width="120" />
        <icon height="88" src="resources/ios/icon/icon-44@2x.png" width="88" />
        <icon height="50" src="resources/ios/icon/icon-50.png" width="50" />
        <icon height="100" src="resources/ios/icon/icon-50@2x.png" width="100" />
        <icon height="60" src="resources/ios/icon/icon-60.png" width="60" />
        <icon height="120" src="resources/ios/icon/icon-60@2x.png" width="120" />
        <icon height="180" src="resources/ios/icon/icon-60@3x.png" width="180" />
        <icon height="72" src="resources/ios/icon/icon-72.png" width="72" />
        <icon height="144" src="resources/ios/icon/icon-72@2x.png" width="144" />
        <icon height="76" src="resources/ios/icon/icon-76.png" width="76" />
        <icon height="152" src="resources/ios/icon/icon-76@2x.png" width="152" />
        <icon height="167" src="resources/ios/icon/icon-83.5@2x.png" width="167" />
        <icon height="172" src="resources/ios/icon/icon-86@2x.png" width="172" />
        <icon height="196" src="resources/ios/icon/icon-98@2x.png" width="196" />
        <icon height="1024" src="resources/ios/icon/icon-1024.png" width="1024" />
        <!-- <splash height="480" src="resources/ios/splash/Default~iphone.png" width="320" /> -->
        <!-- <splash height="960" src="resources/ios/splash/Default@2x~iphone.png" width="640" /> -->
        <!-- <splash height="1024" src="resources/ios/splash/Default-Portrait~ipad.png" width="768" /> -->
        <!-- <splash height="768" src="resources/ios/splash/Default-Landscape~ipad.png" width="1024" /> -->
        <!-- <splash height="1125" src="resources/ios/splash/Default-Landscape-2436h.png" width="2436" /> -->
        <!-- <splash height="1242" src="resources/ios/splash/Default-Landscape-736h.png" width="2208" /> -->
        <!-- <splash height="2048" src="resources/ios/splash/Default-Portrait@2x~ipad.png" width="1536" /> -->
        <!-- <splash height="1536" src="resources/ios/splash/Default-Landscape@2x~ipad.png" width="2048" /> -->
        <!-- <splash height="2732" src="resources/ios/splash/Default-Portrait@~ipadpro.png" width="2048" /> -->
        <!-- <splash height="2048" src="resources/ios/splash/Default-Landscape@~ipadpro.png" width="2732" /> -->
        <!-- <splash height="1136" src="resources/ios/splash/Default-568h@2x~iphone.png" width="640" /> -->
        <!-- <splash height="1334" src="resources/ios/splash/Default-667h.png" width="750" /> -->
        <!-- <splash height="2208" src="resources/ios/splash/Default-736h.png" width="1242" /> -->
        <!-- <splash height="2436" src="resources/ios/splash/Default-2436h.png" width="1125" /> -->
        <!-- <splash height="2732" src="resources/ios/splash/Default@2x~universal~anyany.png" width="2732" /> -->
        <icon height="216" src="resources/ios/icon/icon-108@2x.png" width="216" />
        <!-- <splash height="2688" src="resources/ios/splash/Default-2688h~iphone.png" width="1242" /> -->
        <!-- <splash height="1242" src="resources/ios/splash/Default-Landscape-2688h~iphone.png" width="2688" /> -->
        <!-- <splash height="1792" src="resources/ios/splash/Default-1792h~iphone.png" width="828" /> -->
        <!-- <splash height="828" src="resources/ios/splash/Default-Landscape-1792h~iphone.png" width="1792" /> -->
    </platform>
    <plugin name="cordova-plugin-statusbar" spec="2.4.2" />
    <plugin name="cordova-plugin-device" spec="2.0.2" />
    <plugin name="cordova-plugin-ionic-keyboard" spec="^2.0.5" />
    <plugin name="cordova-plugin-nativestorage" spec="^2.3.2" />
    <plugin name="cordova.plugins.diagnostic" spec="^7.1.3" />
    <plugin name="ionic-plugin-deeplinks" spec="^1.0.24">
        <variable name="URL_SCHEME" value="payschoolsMobile" />
        <variable name="DEEPLINK_SCHEME" value="https" />
        <variable name="DEEPLINK_HOST" value="dev.payschoolscentral.com" />
        <variable name="ANDROID_PATH_PREFIX" value="/" />
        <variable name="ANDROID_2_PATH_PREFIX" value="/" />
        <variable name="ANDROID_3_PATH_PREFIX" value="/" />
        <variable name="ANDROID_4_PATH_PREFIX" value="/" />
        <variable name="ANDROID_5_PATH_PREFIX" value="/" />
        <variable name="DEEPLINK_2_SCHEME" value="https" />
        <variable name="DEEPLINK_2_HOST" value="beta1-psc.payschools.com" />
        <variable name="DEEPLINK_3_SCHEME" value="https" />
        <variable name="DEEPLINK_3_HOST" value="beta2-psc.payschools.com" />
        <variable name="DEEPLINK_4_SCHEME" value="https" />
        <variable name="DEEPLINK_4_HOST" value="alpha5.payschoolscentral.com:1447" />
        <variable name="DEEPLINK_5_SCHEME" value=" " />
        <variable name="DEEPLINK_5_HOST" value=" " />
    </plugin>
    <plugin name="cordova-plugin-safariviewcontroller" spec="~2.0.0" />
    <plugin name="cordova-plugin-preview-any-file" spec="^0.2.9" />
    <plugin name="cordova-plugin-touch-id" spec="~3.3.1" />
    <plugin name="cordova-plugin-ios-keychain" spec="3.0.1" />
    <plugin name="cordova-plugin-biometric" spec="0.0.3" />
    <plugin name="cordova-plugin-app-version" spec="~0.1.14" />
    <plugin name="cordova-plugin-android-permissions" spec="^1.1.5" />
</widget>
