.cafeteria-transfer-sub-header>h3 {
    display: flex;
    align-items: center;
}

.checkbox-agree {
    margin-left: 5px;
}
.dollar::before
{content:"$"}

.ArrowStyle{
    margin-left: 35%;
    color: #3CBFAE;
    font-size: 400%;
}

.changeRadioColor{
    color: rgb(193, 185, 185);
}

.dollar{
    display: flex;
    align-items: center;
}