.custom-font {
    font-size: 11px;
}

.custom-feecard {
    background-color: var(--ion-color-light);
    margin: 0;
    margin-top: 20px;
}

.custom-label {
    color: #91A1AE;
    font-weight: 500;
    word-break: break-all;
}
.details-link {
    text-decoration: underline;
    cursor: pointer;
    color: #3CBFAE;
}
.help_circle {
    font-size: 24px;
    color: #51606D;
    vertical-align: bottom;
    margin-left: 2px;
}

.information_circle{
    font-size: 24px;
    color: #51606D;
    vertical-align: bottom;
    margin-left: 2px;
}

.custom-fee-icon {
    float: right;
    font-size: 25px;
    color: #3CBFAE;
}

div[scrollx=true] {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    &::-webkit-scrollbar {
        display: none;
    }
    .scroll-item {
        flex: 0 0 auto;
    }
}

.patron-active {
    border: 2px solid #3CBFAE !important;
}

.patron-active-color {
    color: #3CBFAE !important;
    font-weight: 500;
}

.patron-inactive {
    border: 1px solid #757575;
}

.scheduled {
    background-color: var(--ion-color-primary);
    color: #fff;
    padding: 5px 15px;
    text-align: center;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 15px;
    width: 100%;
}

::ng-deep.sm-font{
    font-size: 14px !important;
}

.custom-text-wrap{
    font-size: 0.9rem;
  }
  

  @media only screen and (max-width:320px) {
    .custom-text-wrap{
        font-size: 0.7rem;
    }
    .radioButtonBg
    {
        --ion-background-color: none;
        --padding-start: 0px;
        --inner-padding-end: 0px;
    }
}


ion-select.fee-down{
    position: relative;
}
ion-select.fee-down::part(icon) {
    width: .8rem;
    height: .8rem;
    color: #b1b1b1;
    position: absolute;
    right: 1%;
    margin-top: 25px;
}

:host(.select-label-placement-start) .label-text-wrapper{
    display: none !important;
}