.card-title
{
    margin-left: 15px;
    color: white;
}
.backButton
{
    color: white;
    padding: 5px;
}

// .icnc{
//     box-shadow: none !important;
//     margin-top: 20px;
//     background-color: var(--ion-color-light);
// }

.back-footer{
    height: 6%;
    background: #ffffff;
}

.back-login-para{
    margin-top: 2%;
    text-align: center;
}

.back-to-login{
    color: #3CBFAE;
    font-weight: 500;
    font-size: 17px;
}