<ion-header  dir="ltr">
    <ion-toolbar color="primary" style="color: #fff;">
        <ion-title>{{ 'Fund' | translate}}</ion-title>
        <ion-buttons slot="start">
            <!-- <ion-back-button icon="home" text="" defaultHref="/dashboard/home"></ion-back-button> -->
            <ion-button (click)="onDisplayLang()">
                <!-- <ion-icon slot="icon-only" name="globe"></ion-icon> -->
                <img class="cart-icn-img" src="../../../assets/icon/lang.svg">
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="primary">
            <ion-button (click)="onGotoCart()" [disabled]="cartCount == 0">
                <!-- <ion-icon slot="icon-only" name="cart"></ion-icon> -->
                <img class="cart-icn-img" src="../../assets/icon/cart.svg">
                <ion-badge class="cart-badge" *ngIf="cartCount > 0">{{cartCount}}</ion-badge>
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-menu-button autoHide="false">
                <img class="hamburger-icn-img" src="../../assets/icon/hamburger-menu.png">
            </ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class='ion-content'>
    <ion-grid class="custom-cover">
        <ion-row class="main-row">
            <ion-col size="12" class="ps-card" *ngIf="fundData">
                <div class="container">
                    <div class="scroll" scrollX="true" #widgetsContent>
                        <div *ngFor="let patron of patrons" style="text-align: center;margin: auto;" tappable (click)="onSelectedStudent(patron)">
                            <ion-avatar [ngClass]="{'patron-active' : IntPatronId == patron.IntPatronId }" style="padding: 2px;height: 60px;width: 60px;margin: auto;margin-bottom: 8px;margin-left: 20px;margin-right: 20px;border: 1px solid #ccc;">
                                <img src="../../../assets/icon/all_stud.svg"  class="all-student-icon"*ngIf="patron.PictureData == 'allStudentPicture'">
                                <img *ngIf="patron.PictureData != 'allStudentPicture' && patron.PictureData != null && patron.PictureData != ''" src="data:image/png;base64,{{patron.PictureData}}">
                            </ion-avatar>
                            <ion-label [ngClass]="{'patron-active-color' : IntPatronId == patron.IntPatronId }" style="margin-top: 2px;display: block;color: #757575;">{{patron.FirstName}}</ion-label>
                            <ion-label [ngClass]="{'patron-active-color' : IntPatronId == patron.IntPatronId }" style="margin-top: 2px;color:#757575">{{patron.LastName}}</ion-label>
                        </div>
                    </div>
                </div>
                <ion-row style="background-color: #f4f5f8;" class="ion-margin-top">
                    <ion-col class="ion-text-center" size="4">
                        <ion-button fill="clear" (click)="OnInfoClick()">
                            <ion-icon name="information-circle-outline" slot="icon-only"></ion-icon>
                        </ion-button>
                        <p class="ion-no-margin custom-text" color="dark">{{ 'Information' | translate }}</p>
                    </ion-col>
                    <ion-col class="ion-text-center" size="4">
                        <ion-button fill="clear" (click)="onFundTransfer('data')" [disabled]="fundData.length == 0 || !isFundTransferFound">
                            <!-- <ion-icon slot="icon-only" name="md-swap"></ion-icon> -->
                            <img slot="icon-only" src="../../../assets/icon/fund-transfer.svg">
                        </ion-button>
                        <!-- <p [ngStyle]="(fundData.length == 0 || !isFundTransferFound) ? {'opacity': '0.5','pointer-events':'none'} : false" color="dark" class="ion-no-margin custom-text">{{ 'Fund_Transfer' | translate }}</p> -->
                        <p [ngStyle]="(fundData.length == 0 || !isFundTransferFound) ? {'opacity': '0.5','pointer-events':'none'} : {}" color="dark" class="ion-no-margin custom-text">{{ 'Fund_Transfer' | translate }}</p>
                    </ion-col>

                    <ion-col class="ion-text-center" size="4">
                        <!-- Google -->
                        <ion-button fill="clear" [routerLink]="['/dashboard/auto-replenishment']" routerDirection="forward" [queryParams]="{type:'fund'}" [disabled]="(selectedPatronData.type == 'individual' ? !Active : disableFlag) || (fundData.length == 0) || paymentMethods === 0 || !districtFeaturelist.Lunch && !districtFeaturelist.SourceAccount">
                            <!-- <ion-icon name="md-sync" slot="icon-only"></ion-icon> -->
                            <img slot="icon-only" src="../../../assets/icon/fund-ar.svg">
                        </ion-button>
                        <!-- <p [ngStyle]="(selectedPatronData.type == 'individual' ?  !Active : disableFlag) || (fundData.length == 0 || paymentMethods === 0) || !districtFeaturelist.Lunch && !districtFeaturelist.SourceAccount ? {'opacity': '0.5','pointer-events':'none'} : false" class="ion-no-margin custom-text" color="dark">{{ 'auto_replenishment' | translate }}</p> -->
                        <p [ngStyle]="(selectedPatronData.type == 'individual' ?  !Active : disableFlag) || (fundData.length == 0 || paymentMethods === 0) || !districtFeaturelist.Lunch && !districtFeaturelist.SourceAccount ? {'opacity': '0.5','pointer-events':'none'} : {}" class="ion-no-margin custom-text" color="dark">{{ 'auto_replenishment' | translate }}</p>
                    </ion-col>

                </ion-row>
                <ion-card class="custom-card ion-margin-top ion-margin-bottom" *ngFor="let fund of fundData" style="box-shadow: none !important;margin-top: 20px;">
                    <ion-card-content>
                        <ion-row class="ion-no-padding" style="display: flex;align-items: center;">
                            <ion-col class="ion-no-padding custom-label" size="9">
                                <ion-text color="secondary" >
                                    {{fund.FirstName}} {{fund.LastName}}
                                </ion-text>
                            </ion-col>
                            <ion-col size="3" class="ion-no-padding ion-text-right">
                                <ion-button class="ion-text-right" shape="round" fill="clear" color="secondary" size="default" *ngIf="!fund.CartAmount" (click)="presentAlertConfirm('add',fund)" [disabled]="!fund.isPatronActive">
                                    <span class="cart-icn-list-img">
                                        <img slot="icon-only" src="../../../assets/icon/teal-cart.svg">
                                    </span>
                                </ion-button>
                                <ion-button  class="ion-text-right" shape="round" fill="clear" color="primary" size="default" *ngIf="fund.CartAmount" (click)="presentAlertConfirm('edit',fund)">
                                    <span class="edit-icn-list-img">
                                        <img slot="icon-only" src="../../../assets/icon/icn_edit.svg">
                                    </span>
                                </ion-button>
                            </ion-col>
                        </ion-row>
                        <!-- <ion-row class="ion-no-padding ion-text-center">
                            <ion-col class="ion-no-padding custom-label" size="12">John Smith</ion-col>
                        </ion-row>

                        <ion-row class="ion-no-padding">
                            <ion-col size="10" class="ion-no-padding">
                            </ion-col>
                            <ion-col size="2" class="ion-no-padding">
                                <ion-button fill="clear">
                                    <ion-icon ios="ios-add-circle" md="md-add-circle" style="float:right;font-size:30px;color:#0873ba;"></ion-icon>
                                </ion-button>
                            </ion-col>
                        </ion-row> -->

                        <ion-row class="ion-no-padding ion-margin-top">
                            <ion-col class="ion-no-padding custom-label" size="6">{{ 'notify_bal' | translate }}</ion-col>
                            <ion-col class="ion-no-padding ion-text-right custom-label" size="6">${{fund.Balance | number:'.2'}}</ion-col>
                        </ion-row>

                        <ion-row class="ion-no-padding">
                            <ion-col class="ion-no-padding custom-label" size="6">{{ 'rp_acc_name' | translate }}</ion-col>
                            <ion-col class="ion-no-padding ion-text-right custom-label" size="6" custom-label>{{fund.AccountName}}</ion-col>
                        </ion-row>
                        <ion-row class="ion-no-padding" *ngIf="fund.CartAmount">
                            <ion-col class="ion-no-padding custom-label" size="6">{{ 'in_cart' | translate }}</ion-col>
                            <ion-col class="ion-no-padding ion-text-right custom-label" size="6" custom-label>${{fund.CartAmount ? fund.CartAmount.toFixed(2) : 0 | number:'.2'}}
                            </ion-col>
                        </ion-row>
                    </ion-card-content>
                </ion-card>
                <ion-text *ngIf="fundData.length == 0" class="ion-text-center">
                    <p>
                        {{ 'no_records_found' | translate }}
                    </p>
                </ion-text>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>