.ps-card>ion-img {
    right: 0;
    left: 0;
    background-color: white;
    padding: 5px;
    width: 180px;
    padding: 5px;
    position: relative;
    margin: auto;
}

.message-wrapper{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 250px;
}