.ps-card>ion-img {
    right: 0;
    left: 0;
    background-color: white;
    padding: 5px;
    width: 180px;
    padding: 5px;
    position: relative;
    margin: auto;
}

.eye-icon {
    position: relative;
    top: 0;
    bottom: 0;
    margin: auto;
}

.help-icon {
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    bottom: 0;
    padding-right: 10px;
}

:host(app-forget-password) {
    width: 100%;
}

.custom-margin{
    margin-top: 25px;
}

.password-button{
    white-space: pre-line;
}
ion-select.forgot-down{
    position: relative;
}
ion-select.forgot-down::part(icon) {
    width: .8rem;
    height: .8rem;
    color: #b1b1b1;
    position: absolute;
    right: 1%;
    margin-top: 25px;
}

ion-select.forgot-down::part(label):after {
    content: "*";
    font-size: 16px;
    color: red;
    margin-left: 8px;
}


ion-item::part(native){
    padding:0px 3px;
}