<!-- <ion-header>
    <ion-toolbar color="primary" style="color: #fff;">
        <ion-title>Forgot Password</ion-title>
    </ion-toolbar>
</ion-header> -->
<ion-content class='ion-content' dir="{{languageService.langDir}}">
    <ion-grid class="custom-cover custom-margin">
        <form #f="ngForm" autocomplete="off">
            <ion-row class="main-row ion-margin-top">
                <ion-col size="12" class="ps-card">
                    <ion-col class="ion-text-center">
                        <ion-text color="primary">
                            <h3 class="ion-no-margin" *ngIf="resetPasswordPage">
                                {{'reset_your_password' | translate}}
                            </h3>
                            <h3 class="ion-no-margin" *ngIf="!resetPasswordPage">
                                {{'create_new_password' | translate}}
                            </h3>
                        </ion-text>
                    </ion-col>
                    <ion-col class="ion-text-center">
                        <ion-text color="primary">
                            <p class="ion-no-margin" *ngIf="!resetPasswordPage">
                                {{'email_address' | translate}}
                            </p>
                        </ion-text>
                    </ion-col>
                    <ion-item *ngIf="resetPasswordPage">
                        <!-- <ion-label position="floating">{{'language_preference' | translate}}
                            <ion-text color="danger">*</ion-text>
                        </ion-label> -->
                        <ion-select label="{{'language_preference' | translate}}" label-placement="floating" class="forgot-down" toggleIcon="caret-down-sharp" [okText]="'Continue' | translate" [cancelText]="'cancel' | translate" required name="IntLanguageId" [(ngModel)]="selectedLang.IntLanguageId" (ionChange)="onLanguageChange($event)">
                            <ion-select-option *ngFor="let language of languages" [value]="language.IntLanguageId">
                                {{language.DisplayName}}
                            </ion-select-option>
                        </ion-select>
                    </ion-item>
                    <ion-item>
                        <ion-label position="floating">{{'email' | translate}}
                            <ion-text color="danger">*</ion-text>
                        </ion-label>
                        <ion-input aria-label="username" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,8}$" required name="username" ngModel #username="ngModel" [(ngModel)]="Username" (ionBlur)="processemail(Username)"></ion-input>
                    </ion-item>
                    <ion-text color="danger" class="error-message" *ngIf="!username.valid && username.touched">
                        <p class="error-text-message2">{{(Username ? 'Invl_email' : 'email_required') | translate}}</p>
                    </ion-text>
                   
                    
                    <ng-container *ngIf="!resetPasswordPage">
                        <ion-item>
                            <ion-label position="floating">{{'verification_code' | translate}}
                                <ion-text color="danger">*</ion-text>
                            </ion-label>
                            <ion-input aria-label="ConfirmationCode" type="tel" name="ConfirmationCode" ngModel #ConfirmationCode="ngModel" required [maxlength]="8" appCustomTextWithSymbol="88">
                            </ion-input>
                            <!-- <ion-icon color="primary" name="refresh" class="eye-icon" slot="end">
                            </ion-icon> -->
                        </ion-item>
                        <span >
                            <ion-text color="danger" class="error-message"  *ngIf="!ConfirmationCode.valid && ConfirmationCode.touched">
                                <p class="error-text-message2">{{'Code_Via_Text_Call' | translate}}</p>
                            </ion-text>
                        </span>
                        <ion-item>
                            <ion-label position="floating">{{'password' | translate}}
                                <ion-text color="danger">*</ion-text>
                            </ion-label>
                            <ion-input aria-label="Password" type="{{type}}" name="Password" #Password="ngModel" ngModel validateEqual="NewPassword" reverse="true" required pattern="^(?!.*([A-Za-z0-9])\1{2})(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,128}$"></ion-input>
                            <ion-icon name="ios-help-circle-outline" class="help-icon" color="primary" fill="clear" slot="end" (click)="info()"></ion-icon>
                            <ion-icon color="primary" *ngIf="!showPass" name="eye-off" class="eye-icon" slot="end" (click)="showPassword()">
                            </ion-icon>
                            <ion-icon color="primary" *ngIf="showPass" name="eye" class="eye-icon" slot="end" (click)="showPassword()">
                            </ion-icon>
                        </ion-item>
                        <ion-text color="danger" class="error-message" *ngIf="!Password.valid && Password.touched">
                            <p class="error-text-message2" *ngIf="!Password.valid && Password.hasError('required')">{{'password_required' | translate}}</p>
                            <p class="error-text-message2" *ngIf="!Password.valid && Password.hasError('pattern')">{{'password_invalid_message' | translate}}.</p>
                        </ion-text>
                        <ion-item>
                            <ion-label position="floating">{{'confirm_password' | translate}}
                                <ion-text color="danger">*</ion-text>
                            </ion-label>
                            <ion-input aria-label="NewPassword" type="password" name="NewPassword" ngModel #Confirm="ngModel" validateEqual="Password" required pattern="^(?!.*([A-Za-z0-9])\1{2})(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,128}$"></ion-input>
                        </ion-item>
                        <ion-text color="danger" class="error-message" *ngIf="!Confirm.valid && Confirm.touched">
                            <p class="error-text-message2">{{'password_not_match' | translate}}</p>
                        </ion-text>
                    </ng-container>
                    <ion-col class="ion-text-center" *ngIf="resetPasswordPage">
                        <ion-text color="primary">
                            <h5 class="ion-no-margin">
                                {{'rst_yr_pass' | translate}}
                            </h5>
                        </ion-text>
                    </ion-col>
                    <ion-row class="ion-margin-top">
                        <ion-col size="6" *ngIf="resetPasswordPage">
                            <ion-button color='secondary' expand="block" class="full-width password-button" [disabled]="!username.valid" (click)="resetPreference('email', f)">{{'email_me' | translate}}
                            </ion-button>
                        </ion-col>
                        <ion-col size="6" *ngIf="resetPasswordPage">
                            <ion-button color='secondary' expand="block" class="full-width password-button" [disabled]="!username.valid" (click)="validatePhoneNumber('text', f)">{{'text_call_me' | translate}}
                            </ion-button>
                        </ion-col>
                        <ion-col size="12" class="fpass-place">
                            <ion-button expand="block" class="full-width" *ngIf="resetPasswordPage" (click)="onRecoverPasswordBySMS('alreadyHaveTextCode', f)">{{'have_text_code' | translate}}
                            </ion-button>
                            <ion-button expand="block" class="full-width" *ngIf="!resetPasswordPage" (click)="changePasswordBySMS(f)" [disabled]="!f.valid">{{'confirm' | translate}}
                            </ion-button>

                        </ion-col>
                        <ion-col size="4">
                            <ion-button expand="block" class="full-width custom-orange-btn" (click)="redirectTo(resetPasswordPage)">
                                <ion-icon *ngIf="resetPasswordPage" class="logoutIcon" name="arrow-back"></ion-icon>
                                <ion-icon *ngIf="!resetPasswordPage" class="backIcon" name="arrow-back"></ion-icon>
                                <!-- <ion-icon slot="icon-only" [ngStyle]="resetPasswordPage && {'transform': 'rotate(180deg)'}" name="{{resetPasswordPage ? 'log-in':'arrow-back'}}" class="custom-space"></ion-icon> -->
                            </ion-button>
                        </ion-col>
                    </ion-row>
                </ion-col>
            </ion-row>
        </form>
    </ion-grid>
</ion-content>